.fade-enter, .fade-leave-to {
  opacity: 0;
  .lkt-dialog {
    transform: translateY(10px);
  }
}
.fade-enter-active, .fade-leave-active {
  transition: .2s;
  .lkt-dialog {
    transition: .2s;
  }
}
